.tiles-container{
    display:flex;
    font-family:Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: baseline;
    background-color: lightgray;
    justify-content: space-around;
}
.tile-container{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width:250px;
    height:500px;
    border:solid lightgray 1px;
    margin:10px;
    border-radius:10px;
    background-color: white;
}
.tile-header{
    overflow:hidden;
}
.tile-subheading{
    color:darkgrey
}

.small-img{
    height:20px;
    width:10px;
    overflow:hidden
}

.follow-button{
    color:red;
    width:90%;
}